@font-face {
  font-family: 'Roboto Thin';
  src: url('../fonts/Roboto/Roboto-Thin.ttf');
}

.container-heading {
  font-family: 'Roboto Thin', sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.icon-link {
  text-decoration: none;
  color: #000000;
  background-color: rgba(255, 232, 128, 0.5);
  border-color: rgba(255, 232, 128, 0.5);
}

.icon-link:hover {
  color: #000000;
  background-color: rgba(255, 127, 127, 0.5);
  border-color: rgba(255, 127, 127, 0.5);
}
