.container-heading {
  font-family: 'Roboto Thin', sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.icon-link {
  text-decoration: none;
  color: #000000;
  background-color: rgba(244, 234, 23, 1);
  border-color: rgba(27, 67, 126, 1);
  transition: 0.3s
}

.icon-link:hover {
  color: #FFFFFF;
  background-color: rgba(27, 67, 126, 1);
  border-color: rgba(244, 234, 23, 1);
}
