.parallax-background {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-background {
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-background-alt {
  background-size: cover;
  border-top: 64px solid white;
  color: #ffffff;
  height: 38vh;
  width: 100%;
}

/* Parallax Backgrounds for Landing*/

