.parallax-background {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-background {
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-background-alt {
  background-size: cover;
  border-top: 64px solid white;
  color: #ffffff;
  height: 38vh;
  width: 100%;
}

/* Parallax Backgrounds for Landing*/

.bg-parallax-1 {
  background-image: url('../../public/images/home1.jpg');
}

.bg-parallax-2 {
  background-image: url('../../public/images/avalanche-training.jpg');
}

.bg-parallax-3 {
  background-image: url('../../public/images/hets-rescue.jpg');
}

.bg-parallax-4 {
  background-image: url('../../public/images/lions-sunset.jpg');
}

.history-parallax-1 {
  background-image: url('../../public/images/history/new-team.jpg');
}

.history-parallax-2 {
  background-image: url('../../public/images/history/ski.jpg');
}

.history-parallax-3 {
  background-image: url('../../public/images/history/vehicle.jpg');
}
